@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "mixins";
@import "root";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    color: $dark900;
    font-size: 16px;
    cursor: default;
    background: $bgPaper;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
}
::-webkit-scrollbar {
    width: 0;
  }
section {
    position: relative;
}
h1,h2,h3,h4,h5{
    font-family: 'Lato', sans-serif;
    color: $dark900;
    font-weight: 700;
}
h1 {
    font-size: 32px;
    line-height: 131%;
}
h2 {
    font-size: 24px;
    line-height: 125%;
}
h3 {
    font-size: 20px;
    line-height: 160%;
}
h4 {
    font-size: 18px;
    line-height: 150%;
}
h5 {
    font-size: 14px;
    line-height: 143%;
}

a {
    display: inline-block;
    text-decoration: none;
}
svg {
    min-height: 1rem;
}
img {
    width: 100%;
}
input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        font-size: 1rem;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}
textarea{
    resize: none;
}
textarea,
button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;

    &[disabled] {
        cursor: default;
        opacity: 0.7;
    }
}
button {
    cursor: pointer;
}
.wrapper {
    margin: 30px 36px 67px 36px;
    max-width: 100%;
    position: relative;
    height: 100%;
}
.container{
    width: 100%;
    padding: 30px 30px 50px 30px;
    background: $bgWhite;
    border:  1px solid $border;
    border-radius: 0.25rem;
}
.btn__save--L{
    @extend %btnL;
    background: $darkBlue;
    color: $bgWhite;
    padding: 16px 32px;
    &:hover{
        @extend %btnL;
        background: $hovDarkBlue;
        color: $bgWhite;
    }
}
.btn__load--L{
    @extend %btnL;
    position: relative;
    background: $dark300;
    color: $bgWhite;
    padding: 16px 32px 16px 10px;
    &::after{
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url("/img/btnLoad.svg");
        background-repeat: no-repeat;
        margin-left: 10px;
    }
}
.btn__disabled--L{
    @extend %btnL;
    position: relative;
    background: $dark300;
    color: $bgWhite;
    padding: 16px 32px;
    pointer-events: none;
    &:hover, &:focus{
        background: $dark300;
        color: $bgWhite;
    }
}
.btn__add--M{
    position: relative;
    padding: 9px;
    font-size: 14px;
    line-height: 150%;
    border-radius: 0.25rem;
    width: 115px;
    background: $green;
    color: $bgWhite;
}
.back-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgWhite;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid $border;
    cursor: pointer;
}
.textarea{
    padding: 12px 16px;
    color: $dark500;
    font-family: 'Lato', sans-serif;
    border: 1px solid $border;
    border-radius: 0.25rem;
    &::placeholder{
        color: $dark500;
        font-family: 'Lato', sans-serif;
    }
}
.fixed-scroll{
    overflow-y: hidden;
}
.notify{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    background: $bgElement;
    border: 1px solid $bgElement;
    cursor: pointer;
    svg{
        path{
            fill: $darkBlue;
        }
    }
    &:hover{
        background: $darkBlue;
        svg{
            path{
                fill: $bgWhite;
            }
        }
    }
}
.edit__circle{
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    background: $darkBlue;
    cursor: pointer;
    &:hover{
        background: $hovDarkBlue;
    }
}
.drop-status{
    background: $bgGreen;
    color: $green;
    width: 150px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    border: 1px solid transparent;
    position: relative;
    &__text{
        margin-right: 8px;
    }
    &:hover{
        border: 1px solid $green;
    }
}
.pagination{
    width: 100%;
    display: none;
    &__item{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: $bgWhite;
        border: 1px solid $border;
        border-radius: 0.25rem;
        color: $dark900;
        svg{
            path{
                fill: $dark900;
            }
        }
        &:hover{
            background: $darkBlue;
            border-color: $darkBlue;
            color: $bgWhite;
            svg{
                path{
                    fill: $bgWhite;
                }
            }
        }
    }
    &__item--active{
        background: $darkBlue;
        border-color: $darkBlue;
        color: $bgWhite;
    }
    &__item:not(:last-child){
        margin-right: 8px;
    }
    
}
.profile-dropdown{
    display: none;
}
.profile-status{
    position: relative;
}
.profile-dropdown--active{
    display: flex;
    position: absolute;
    width: 150px;
    left: 0;
    top: 30px;
    border: 1px solid $border;
    border-radius: 0.25rem;
    color: $dark900;
}
.profile-dropdow__inner{
    width: 100%;
}
.profile-dropdow__item{
    padding: 7px 7px 7px 8px;
    cursor: pointer;
    &:hover{
        background-color: $bgBlue;
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    &__box{
        display: flex;
        flex-direction: column;
        width: 48%;
        margin-bottom: 28px;
        position: relative;
        .form__label{
            position: absolute;
            z-index: 2;
            top: -6px;
            left: 12px;
            background: $bgWhite;
            padding: 0px 4px;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0.15px;
            color: $dark700;
        }
    }
    &__box--index{
        height:  77px;
    }
    &__box:hover, &__box:focus{
        .form__label{
            color: $darkBlue ;
        }
    }
    &__box--small{
        width: 23%;
    }
    &__box--select::after{
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            right: 18px;
            top: 30%;
            background: url("/img/arrowDownGray.svg") no-repeat;
            background-position: center;
    }
    &__box--selectSVG{
        height: 56px;
        position: relative;
        svg{
            position: absolute;
            left: 20px;
            top: 17px;
        }
        .form__input{
            height: 100%;
            width: 100%;
            padding-left: 51px;
        }
    }
    &__box--selectSVG::after{
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        right: 18px;
        top: 25%;
        background: url("/img/arrowDownGray.svg") no-repeat;
        background-position: center;
    }
    &__input{
        width: 100%;
        height: 56px;
        @extend %textM;
        padding: 15px;
        background: $bgWhite;
        border: 1px solid #D6E2F5;
        border-radius: 0.25rem;
        outline: none;
        &:hover, &:focus{
            border: 1px solid $darkBlue;
        }
    }
}
.error{
    color: $red;
    .form__label{
        color: $red !important;
    }
    .form__label:hover, .form__label:focus{
        color: $red;
    }
    .form__input{
        border: 1px solid $red;
    }
    .form__lagel-error{
        display: block;
    }
}
.success{
    color: $green;
    .form__label{
        color: $green !important;
    }
    .form__label:hover, .form__label:focus{
        color: $green;
    }
    .form__input{
        border: 1px solid $green;
    }
    .form__lagel-error{
        display: block;
    }
}
.disabled{
    color: $dark300;
    .form__label{
        color: $dark300 !important;
    }
    .form__label:hover, .form__label:focus{
        color: $dark300;
    }
    .form__input{
        border: 1px solid $dark300;
        color: $dark300;
    }
}
.form__lagel-error{
    display: none;
    font-size: 14px;
}
.dropdown-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form__box{
        margin-bottom: 0;
    }
    .form__box--select::after{
        width: 16px;
        height: 16px;
        background-position: right center;
        top: 13px;
        background-image: url("/img/arrowDownLightGray.svg");
    }
}
.form-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.password{
    position: relative;
}
.password-control {
	position: absolute;
	top: 16px;
	right: 18px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("/img/hide.svg") 0 0 no-repeat;
}
.password-control.view {
	background: url("/img/hide.svg") 0 0 no-repeat;
}
.search-box{
    position: relative;
    &__icon{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 10px;
        top: 10px;
    }
}
.search-box--big{
    width: 376px;
    .input__search{
        width: 100%;
    }
}
.input__search{
    width: 262px;
    height: 40px;
    padding-left: 44px;
    font-size: 14px;
}
.category-select{
    display: none;
}
select{
    appearance: none;
    position: relative;
    cursor: pointer;
}

#root {
    min-height: 100%;
    height: auto !important;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
.flex{
    display: flex;
    align-items: center;
}
.aside {
    min-width: 256px;
    height: 100vh;
    position: fixed;
    padding: 20px 21px 20px 24px;
    z-index: 10;
    background: $menu;
    overflow-y: scroll;
    overflow-x: hidden;
    &__logo{
        // position: fixed;
        width: 207px;
        cursor: pointer;
    }
    &__nav{
        width: 207px;
        // position: fixed;
        top: 70px;
    }
    &__dt{
        width: 205px;
        // position: fixed;
        bottom: 21px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        border-top: 1px solid #6F7781;
        margin-top: 100px
    }
    &__date, &__time{
        @extend %textS;
        color: $bgWhite;
    }
    .aside__dropdown{
        margin-top: -8px;
        height: 0;
        overflow: hidden;
        transition: height .4s ease-in-out;
    }
    .aside__dropdown--active{
        display: block;
        height: 45px;
    }
    .aside-dropdown__item{
        display: block;
        margin-left: 31px;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        &:hover{
            color: $darkBlue;
        }
        &:not(:first-child){
            padding-top: 8px;
        }
    }
}
.aside--active{
    display: block !important;
    position: fixed;
    width: 100%;
    height: 100vh;
}
.logo{
    width: 178px;
    height: 40px;
    cursor: pointer;
}
.menu{
    list-style: none;
    margin-top: 18px;
    border-top: 1px solid #6F7781;
    &__title{
        text-transform: uppercase;
    }
    &__box{
        border-top: 1px solid #6F7781;
    }
    &__list{
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 12px 0 12px 0px;
    }
    &__link{
        color: $bgWhite;
        margin-left: 8px;
        font-weight: 700;
        font-size: 14px;
        line-height: 143%;
    }
    &__list:hover, &__list--active{
        .menu__link{
            color: $darkBlue;
        }
        color: $darkBlue;
        svg{
            fill: $darkBlue;
            path{
                fill: $darkBlue;
            }
        }
        .stroke{
            path{
                stroke: $darkBlue;
                fill: transparent;
            }
        }
    }
    &__list--dropdown{
        position: relative;
    }
   &__link--arrow{
       margin-left: auto;
       path{
           color: $bgWhite;
       }
   }
}
.menu__title{
    margin-left: 0px;
}
.header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 82px;
    padding-right: 42px;
    top: 0px;
    right: 0px;
    left: 256px;
    z-index: 515;
    background: $bgWhite;
    border: 1px solid $border;
    &__language{
        margin: 0 27px 0 19px;
    }
    &__logo{
        display: none;
        cursor: pointer;
    }
    &__burger{
        display: block;
        position: relative;
        width: 24px;
        height: 19px;
        span{
            transition: all 0.2s;
            position: absolute;
            background-color: $menu;
            left: 15px;
            width: 18px;
            height: 2px;
            top: 24px;
        }
        &::before, &::after{
            content: "";
            background-color: $menu;
            position: absolute;
            width: 18px;
            height: 2px;
            left: 15px;
            top: 29px;
            transition: all 0.5s;
        }
        &::before{
            top: 18px;
            height: 2.5px;
        }
        &::after{
            bottom: 0;
            height: 3px;
        } 
    }
    .burger-active{
        span{
            transform: scale(0);
        }
        &::before{
            transform: rotate(45deg);
            top: 21px;
        }
        &::after{
            transform: rotate(-45deg);
            
            top: 22px;
            height: 2px;
        }
    }
}
.language{
    cursor: pointer;
}
.btn-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95px;
    height: 48px;
    position: relative;
    padding: 13px 13px 13px 16px;
    border: 1px solid $border;
    border-radius: 0.25rem;
    @extend %textS;
    color: $dark700;
    svg{
        path{
            fill: $dark900;
        }
    }
}
.dropdown{
    display: none;
    position: absolute;
    width: 95px;
    top: 50px;
    right: 113.5px;
    border: 1px;
    background-color: #fff;
    border-right: 1px solid #D6E2F5;
    border-bottom: 1px solid #D6E2F5;
    border-left: 1px solid #D6E2F5;
    border-radius: 0 0 0.25rem 0.25rem;
    &__inner{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 10px 10px 16px;
    }
    &__link{
        color: #6A7175;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 150%;
    }
}
.dropdown-active{
    display: block;

}
.profile{
    width: 44.57px;
    height: 44.57px;
    background: $border;
    border-radius: 50%;
    padding: 1.71px;
    &:hover{
        background: $darkBlue
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.burger{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $bgWhite;
    cursor: pointer;
    display: none;
}
.content {
    margin-left: 256px;
    margin-top: 82px;
    flex: 1 1 0%;
    overflow: hidden;
}
.main{
    &__tabs{
        margin: 20px 0 30px 0;
    }
    &__tabs--full{
        width: 645px;
    }
    &__tabs--middle{
        width: 376px;
    }
    &__block{
        display: none;
        background: none;
        border: 1px solid $border;
        border-radius: 0.25rem;
    }
    &__block--mobile{
        display: none;
    }
    &__title-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__dropdown{
        width: 186px;
        height: 40px;
        .form__input{
            height: 40px;
            padding: 9px 16px;
            font-size: 14px;
        }
    }
}
.message-orange{
    width: 100%;
    background: rgba(255, 247, 222, 0.3);
    border: 1px solid $orange;
    color: $orange;
    padding: 20px;
    border-radius: 0.25rem;
    &__titlebox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__title{
        color: $orange;
    }
    &__text{
        max-width: 668px;
    }
    &__close{
        cursor: pointer;
    }
}
.message-blue{
    width: 417px;
    padding: 20px;
    background: $bgElement;
    border: 1px solid $darkBlue;
    border-radius: 0.25rem;
    &__text{
        color: $blue;
        line-height: 150%;
    }
}
.tabs{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $bgWhite;
    border: 1px solid $border;
    border-radius: 0.25rem;
    width: max-content;
    &__item{
        width: 120px;
        height: 40px;
        background: $bgWhite;
        border: none;
        border-radius: 0.25rem;
        color: $darkBlue;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        margin: 0 4px;
        &:hover{
            background: $bgElement;
            color: $darkBlue;
        }
    }
    &__item--three, &__item--two{
        width: 180px;
        margin: 0 4px;
    }
    &__item--active{
        color: $bgWhite;
        background: $darkBlue
    }
}
.tabs__content {
    display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
}
.radio {
    margin-bottom: 0.7em;
}
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-radio + label::before {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(26, 26, 26, 0.2);
  background: rgba(26, 26, 26, 0.05);
  border-radius: 50%;
  margin-right: 0.5em;
  cursor: pointer;
}
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
.custom-radio:checked + label::before {
  background: $bgWhite;
  border: 5px solid $blue;
  
}
.custom-radio:disabled + label::before {
  background: rgba(26, 26, 26, 0.1);
  border: none;
}
.underline{
    text-decoration-line: underline;
    color: $darkBlue;
    cursor: pointer;
}
.status-arrow{
    transform: rotate(0deg);
}
.rotate180{
    transform: rotate(180deg);
}
.information-block{
    padding: 30px;
    background: $bgWhite;
    border: 1px solid $border;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    &__data{
        font-size: 14px;
        line-height: 150%;
        color: $dark300;
        margin-bottom: 10px;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__text{
        color: $dark700;
    }
    &__functional{
        margin-top: 30px;
    }
    &__download{
        display: flex;
        justify-content: space-between;
    }
}
.filebox{
    display: flex;
    align-items: center;
    &__name{
        font-size: 12px;
        line-height: 14px;
        color: $dark300;
        margin-right: 12px;
    }
    &__download{
        padding: 5.33px 7px;
        border: 1.7px solid $darkBlue;
        border-radius: 50%;
    }
}
.hide{
    display: none;
}
.active{
    display: block;
}
.row-counter__dropdown{
    position: absolute;
    border: 1px solid $border;
    background: #fff;
    border-radius: 0.25rem;
    top: 20px;
    width: 36px;
}
@media (max-width: 1201px) {
    .tabs{
        width: 100%;
        &__item{
            width: inherit;
        }
    }
    .main__tabs--middle{
        width: 376px;
    }
}

@media screen and (max-width: 913px){
    .aside{
        display: none;
        &__logo{
            width: 94%;
        }
        &__dt{
            width: 94%;
        }
    }
    .content{
        margin-left: 0;
    }
    .header{
        left: 0;
        width: 100%;
        justify-content: space-between;
        background: $menu;
        padding: 0 20px;
        border: none;
        &__notify, &__language, &__profile{
            display: none;
        }
        &__logo{
            display: block;
        }
    }
    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tabs{
        width: 100%;
        &__item{
            width: inherit;
        }
    }
    .form__box{
        margin-bottom: 25px;
    }
    .form__box--small{
        width: 48%;
    }
    .main__tabs--middle{
        width: 376px;
    }
}

@media screen and (max-width: 476px){
    .container{
        padding: 20px 20px 50px 20px;
    }
    .aside{
        &__logo{
            display: none;
            width: 100%;
        }
        &__nav{
            top: 85px;
            border-top: 1px solid #D6E2F5;
        }
        .aside__nav, .aside__logo, .aside__dt{
            width: 100% !important;
        }
    }
    .person{
        flex-direction: column;
        align-items: flex-start;
        &__img{
            margin-bottom: 16px;
        }
        &__edit{
            bottom: 118px;
        }
    }
    .form__box{
        width: 100%;
    }
    .main{
        &__block--mobile{
            display: block;
        }
    }
    .tabs{
        height: 100%;
        flex-wrap: wrap;
        background: none;
        border: none;
        border-bottom: 1px solid $border;
        border-radius: 0;
        &__item{
            width: 49%;
            margin-bottom: 16px;
        }
        &__item:last-child{
            width: 100%;
        }
    }
    .pagination{
        display: flex;
    }
    .main__tabs--middle{
        width: 100%;
    }
    .person-textbox{
        padding-left: 0;
    }
    .btn__save--L{
        width: 100%;
        &:hover{
            width: 100%;
        }
    }
    h1{
        font-size: 28px;
        line-height: 129%;
    }
    
    .information-block{
        padding: 23px;
    }
    .category-select{
        display: flex;
        margin-bottom: 0px;
    }
    .category{
        width: 100%;
        display: flex;
        height: 56px;
        align-items: center;
        background-color: #fff;
        border: 1px solid #E8E8E8;
        border-radius: 0.25rem;
        padding-left: 16px;
        .category__text{
            color: $dark500;
        }
    }
    .main__tabs.tabs-active{
        display: flex;
        width: 100%;
        background: #fff;
        margin-top: 0;
        border: 1px solid $border;
        border-radius: 0.25rem;
    }
    .main__block-tabs{
        padding: 20px 0 20px 0;
        border-bottom: 1px solid $dark300;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .tabs-active{
        margin-bottom: 0px;
        .tabs__item{
            padding-left: 16px;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            font-weight: 400;
            color: $dark700;
            background: $bgWhite;
            position: relative;
            margin-bottom: 5px;
        }
        .tabs-svg{
            margin: 0 8px 0 13px;
            path{
                stroke: $darkBlue;
            }
        }
    }
    .aside .aside-dropdown__item{
        display: block;
    }
    .main__tabs{
        display: none;
    }
    .aside .aside__dropdown{
        margin-top: 0;
    }
    .aside .aside__dropdown--active{
        margin-top: 15px;
    }
}