@media (max-width: 1201px) {
    .wrapper{
        width: 92.405%;
    }
}

@media screen and (max-width: 913px){
    .wrapper{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 67px;
    }
    .aside{
        display: none;
    }
    .header{
        left: 0;
        width: 100%;
        justify-content: space-between;
        background: $acBlue;
        padding: 0 20px;
        border: none;
        &__notify, &__language, &__profile{
            display: none;
        }
        &__logo{
            display: block;
        }
    }
    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tabs{
        width: 100%;
        &__item{
            width: 142px;
        }
    }
    .form__box{
        margin-bottom: 25px;
    }
    .form__box--small{
        width: 48%;
    }
}

@media screen and (max-width: 476px){
    .wrapper{
        width: 327px;
    }
    .container{
        padding: 20px 20px 50px 20px;
    }
    .aside__nav, .aside__logo, .aside__dt{
        width: 85% !important;
    }
    .person{
        flex-direction: column;
        align-items: flex-start;
        &__img{
            margin-bottom: 16px;
        }
        &__edit{
            bottom: 118px;
        }
    }
    .form__box{
        width: 100%;
    }
    .tabs{
        height: 100%;
        flex-wrap: wrap;
        background: none;
        border: none;
        border-bottom: 1px solid $acPassiveBlue;
        border-radius: 0;
        &__item{
            width: 158px;
            margin-bottom: 16px;
        }
        &__item:last-child{
            width: 100%;
        }
    }
    .person-textbox{
        padding-left: 0;
    }
    .btn__save--L{
        width: 287px;
        &:hover{
            width: 287px;
        }
    }
    h1{
        font-size: 28px;
        line-height: 129%;
    }
    .aside__logo{
        width: 100%;
    }
    .menu__list:not(:last-child){
        border-bottom: 1px solid $acPassiveBlue;
    }
}