//Определение свойств
// :root {
//     --main-color: #333333;
//     --main-back: #f2f2f2;
//     --main-font: sans-serif;
// }
// //Создание переменных
// $mainColor: var(--main-color);
// $mainBack: var(--main-back);
// $mainFont: var(--main-font);

// Main
$main: #E9ECEF;

// Menu
$menu: #313D4B;

// Text
$dark900: #555555;
$dark700: #6A7175;
$dark500: #8F9498;
$dark300: #C7CACB;

// Accent
$darkBlue: #84B5DF;
$hovDarkBlue: #79A2C6;
$border: #E8E8E8;

// Backgraund
$bgWhite: #fff;
$bgElement: #F5F9FD;
$bgGreen: #EDF8ED;
$bgOrange: #FFF7DE;
$bgGray: #FAFAFA;
$bgBlue: #EBF6FF;
$bgPaper: #E9ECEF;

// Status
$green: #30D937;
$orange: #FE9824;
$gray: #9FA3A7;
$blue: #38AAFF;
$red: #FF5454;