//Определение свойств
// :root {
//     --main-color: #333333;
//     --main-back: #f2f2f2;
//     --main-font: sans-serif;
// }
// //Создание переменных
// $mainColor: var(--main-color);
// $mainBack: var(--main-back);
// $mainFont: var(--main-font);

// Accent
$acBlue: #608BCC;
$acDarkBlue: #3867AE;
$acPassiveBlue: #D6E2F5;

// Background
$bgWhite: #fff;
$bgBlueWhite: #EFF4FB;
$bgGreen: #EDF8ED;
$bgOrange: #FFF7DE;
$bgGray: #FAFAFA;
$bgBlue: #EBF6FF;

// Text
$dark900: #454D53;
$dark700: #6A7175;
$dark500: #8F9498;
$dark300: #C7CACB;

// Status
$stGreen: #30D937;
$stOrange: #FE9824;
$stGray: #9FA3A7;
$stBlue: #38AAFF;
$stRed: #FF5454;

$blackGreen: #2ABD30;