.table-container{
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.table {
  display: table;
  width: 100%;
}
.thead {
  display: table-header-group;
}
.tr {
  display: table-row;
  position: relative;
}
.edit-block{
  &::after{
    content: '';
    position: absolute;
    background-image: url("/img/bread.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 16px;
    background: $bgWhite;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);
  }
}
.th {
  position: sticky;
  background: $bgWhite;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: $dark900;
  cursor: pointer;
}
.tbody {
  display: table-row-group;
}
.td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $dark900;
}
.th,
.td {
  display: table-cell;
  padding: 17px 17px 17px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 56px;
  border-bottom: 1px solid $border;
}

.table-flex{
  display: flex;
  align-items: center;
}
.table-bread{
  position: absolute;
  top: 25%;
  right: 16px;
  padding: 0;
}

.edit-icon {
  margin-left: 10px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  height: 24px;
  right: 16px;
  cursor: pointer;
}

.checked {
  color: $green;
}
.nochecked {
  color: $orange;
}
.disabledCheck {
  color: $gray;
}
.disable-table{
  .td-time{
    text-decoration: line-through;
    color: #9FA3A7;
  }
}

tr {
  position: relative;
}
.table__edit {
  position: absolute;
  background-image: url('../img/pencel.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  right: 0;
  top: 69px;
}
.table{
  display: table;
}
.schedule-table--mobile {
  display: none;
}
.course-table {
  &__id {
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: $blue;
    cursor: pointer;
  }
  &__lesson {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: $green;
    padding: 5px 10px;
    background-color: $bgGreen;
    border-radius: 0.25rem;
  }
}

.courses-block__table{
    &__id {
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: $blue;
    }
    &__lesson {
        font-size: 12px;
        line-height: 14px;
        color: $green;
        padding: 5px 10px;
        background-color: $bgGreen;
        border-radius: 0.25rem;
    }
}

.table-select {
  display: none;
}
.table-functional {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 19px;
  &__add {
    font-size: 14px;
    line-height: 150%;
    color: $green;
  }
}
.table-functional--noBtn {
  justify-content: flex-end;
}
.row-counter {
  display: flex;
  align-items: center;
  padding-right: 16px;
  &__box {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__text {
    font-size: 14px;
    line-height: 150%;
    margin-right: 10px;
  }
  &__select {
    position: relative;
    border: none;
    background: transparent;
    font-size: 14px;
    line-height: 143%;
    width: 12px;
    outline: none;
  }
  &__pages {
    margin-left: 35px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 150%;
  }
  &__arrows {
    cursor: pointer;
  }
  &__dropdown--item{
    margin-bottom: 1px;
    padding-bottom: 1px;
    &:hover{
      background: $bgBlue;
    }
  }
}
.table-btn--mobile {
  display: none;
}
.table__header-arrow {
  width: 24px;
  height: 24px;
}
.table__search {
  padding: 0 16px;
  height: 72px;
}
.table__dropdown {
  width: 168px;
  height: 40px;
  .form__input {
    width: 168px;
    height: 40px;
    padding: 9px 16px;
    font-size: 14px;
  }
}
.table-swap{
  margin-left: 10px;
  &:hover{
    path{
      fill: $darkBlue;
    }
  }
}
@media screen and(max-width: 1201px) {
  .schedule-block,
  .subjects-block,
  .course-block, 
  .other__table,
  .lectures__table {
    width: 100%;
  }
  
}
@media screen and(max-width: 834px) {
}
@media screen and(max-width: 476px) {
   
  .tr::after{
    display: none;
  }
  .table-flex--mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #table-sort {
    height: 40px;
    padding: 0 0 0 16px;
    font-size: 14px;
    line-height: 150%;
    color: $dark500;
  }
  .table-select {
    display: flex;
    margin-bottom: 20px;
  }
  .table-select::after {
    top: 10px;
  }
  .schedule-table,
  .subjects-table,
  .course-table,
  .salary-table,
  .courses-block__table,
  .other__table,
  .lectures__table {
    display: none;
  }
  .schedule-block,
  .subjects-block,
  .course-block,
  .lectures__table {
    width: 100%;
    background: transparent;
    border: none;
  }
  .table-mobile {
    margin-bottom: 20px;
    background: $bgWhite;
    border-radius: 0.25rem;
  }
  .td{
    white-space: normal;
  }
  .table-functional {
    display: none;
  }
  .sort-table{
    display: none;
  }
  .schedule-table--mobile {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: minmax(140px, 1fr);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .tr__head {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .tabel__cell {
    border-bottom: none;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 0 16px 0 16px;
    margin-top: 15px;
    .table-mobile__title {
      font-size: 14px;
      color: $dark500;
      margin-bottom: 2px;
    }
    .table-mobile__text{
      font-size: 14px;
    }
  }
  .table__cell--long{
    width: 100%;
  }
  .tabel__block {
    padding-bottom: 20px;
    width: 100%;
  }
  .th {
    font-size: 20px;
    line-height: 160%;
    width: 100%;
    padding: 17px 0 17px 0;
    justify-content: space-between;
  }
  .thead,
  .tbody,
  .tr {
    display: flex;
    flex-wrap: wrap;
  }
  .table-functional__add {
    position: fixed;
    bottom: 86px;
    right: 30px;
    width: 48px;
    height: 48px;
    color: $bgWhite;
    border-radius: 50%;
    background: $green;
  }
  .table-btn--mobile {
    display: block;
  }
  .tabple__mobile-subject{
    width: 100%;
  }
  .mobile-long__cell{
    width: 72%;
  }
}
