.table {
  display: table;
  width: 100%;
}
.thead {
  display: table-header-group;
}
.tr {
  display: table-row;
}
.th {
  display: table-cell;
  position: sticky;
  background: $bgWhite;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: $dark900;
  cursor: pointer;
}
.tbody {
  display: table-row-group;
}
.td {
  display: table-cell;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $dark900;
}
.thead,
.tbody,
.tr {
  display: contents;
}
.th,
.td {
  display: flex;
  align-items: center;
  padding: 17px 0 17px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 56px;
  border-bottom: 1px solid $border;
}
.tabel__cell:last-child {
  position: relative;
}
.edit-icon {
  margin-left: 10px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  height: 24px;
  right: 16px;
  cursor: pointer;
}
.checked {
  .tabel__cell {
    background: $bgGreen;
  }
}
.nochecked {
  .tabel__cell {
    background: $bgOrange;
  }
}
.disabledCheck {
  .tabel__cell {
    background: $bgGray;
  }
  .td{
    color: $gray;
  }
  .td-time{
    text-decoration: line-through;
  }
}
.checked {
  background: $bgGreen;
  .course-table__status {
    color: $green;
  }
}
.nochecked {
  .nochecked-cell {
    background: $bgOrange;
  }
  .course-table__status {
    color: $orange;
  }
}
.disabledCheck {
  .disabledCheck-cell {
    background: $bgGray;
  }
  .course-table__status {
    color: $gray;
  }
}
tr {
  position: relative;
}
.table__edit {
  position: absolute;
  background-image: url('../img/pencel.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  right: 0;
  top: 69px;
}
.schedule-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(168px, 1fr)
    minmax(282px, 1.67fr)
    minmax(177px, 1.67fr)
    minmax(177px, 1.67fr)
    minmax(282px, 3.33fr)
    minmax(282px, 1.67fr)
    minmax(282px, 3.33fr);
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 0.25rem;
}
.schedule-table--mobile {
  display: none;
}
.subjects-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(376px, 1fr)
    minmax(376px, 1.67fr)
    minmax(356px, 1.67fr);
  overflow: hidden;
  border-radius: 0.25rem;
}
.course-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(168px, 1fr)
    minmax(188px, 1.67fr)
    minmax(188px, 1.67fr)
    minmax(189px, 1.67fr)
    minmax(187px, 3.33fr)
    minmax(188px, 1.67fr)
    minmax(188px, 3.33fr);
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 0.25rem;
  &__id {
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: $blue;
  }
  &__lesson {
    font-size: 12px;
    line-height: 14px;
    color: $green;
    padding: 5px 10px;
    background-color: $bgGreen;
    border-radius: 0.25rem;
  }
}
.salary-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(149px, 1fr)
    minmax(190px, 1.67fr)
    minmax(149px, 1.67fr)
    minmax(148px, 1.67fr)
    minmax(148px, 3.33fr)
    minmax(127px, 1.67fr)
    minmax(148px, 3.33fr);
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 0.25rem;
}
.courses-block__table{
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: minmax(168px, 1fr)
    minmax(188px, 1.67fr)
    minmax(188px, 1.67fr)
    minmax(189px, 1.67fr)
    minmax(187px, 3.33fr)
    minmax(189px, 1.67fr)
    minmax(189px, 1.67fr);
    justify-items: stretch;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: 0.25rem;
    &__id {
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: $blue;
    }
    &__lesson {
        font-size: 12px;
        line-height: 14px;
        color: $green;
        padding: 5px 10px;
        background-color: $bgGreen;
        border-radius: 0.25rem;
    }
}
.other__table{
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 0.25rem;
}
.my-lessons-table {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.4fr;
}

.table-select {
  display: none;
}
.table-functional {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 19px;
  &__add {
    font-size: 14px;
    line-height: 150%;
    color: $green;
  }
}
.table-functional--noBtn {
  justify-content: flex-end;
}
.row-counter {
  display: flex;
  align-items: center;
  padding-right: 16px;
  &__box {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__text {
    font-size: 14px;
    line-height: 150%;
    margin-right: 10px;
  }
  &__select {
    position: relative;
    border: none;
    background: transparent;
    font-size: 14px;
    line-height: 143%;
    width: 12px;
    outline: none;
  }
  &__pages {
    margin-left: 35px;
    margin-right: 16px;
    font-size: 14px;
    line-height: 150%;
  }
  &__arrows {
    cursor: pointer;
  }
}
.table-btn--mobile {
  display: none;
}
.table__header-arrow {
  width: 24px;
  height: 24px;
}
.table__search {
  padding: 0 16px;
  height: 72px;
}
.table__dropdown {
  width: 168px;
  height: 40px;
  .form__input {
    width: 168px;
    height: 40px;
    padding: 9px 16px;
    font-size: 14px;
  }
}

@media screen and(max-width: 1201px) {
  .schedule-block,
  .subjects-block,
  .course-block, 
  .other__table {
    width: 100%;
  }
  .schedule-table {
    grid-template-columns:
      minmax(201px, 1fr)
      minmax(168px, 1.67fr)
      minmax(148px, 1.67fr)
      minmax(148px, 1.67fr)
      minmax(202px, 3.33fr)
      minmax(202px, 1.67fr)
      minmax(202px, 3.33fr);
  }
  .subjects-table {
    grid-template-columns:
      minmax(276px, 1fr)
      minmax(297px, 1.67fr)
      minmax(295px, 1.67fr);
  }
  .course-table {
    grid-template-columns:
      minmax(128px, 1fr)
      minmax(146px, 1.67fr)
      minmax(146px, 1.67fr)
      minmax(146px, 1.67fr)
      minmax(146px, 3.33fr)
      minmax(166px, 1.67fr)
      minmax(148px, 3.33fr);
  }
  .salary-table {
    grid-template-columns:
      minmax(149px, 1fr)
      minmax(149px, 1.67fr)
      minmax(149px, 1.67fr)
      minmax(148px, 1.67fr)
      minmax(148px, 3.33fr)
      minmax(127px, 1.67fr)
      minmax(148px, 3.33fr);
  }
  .courses-block__table {
    grid-template-columns:
      minmax(149px, 1fr)
      minmax(129px, 1.67fr)
      minmax(166px, 1.67fr)
      minmax(166px, 1.67fr)
      minmax(127px, 3.33fr)
      minmax(149px, 1.67fr)
      minmax(149px, 3.33fr);
  }
}
@media screen and(max-width: 834px) {
  .schedule-table {
    grid-template-columns:
      minmax(140px, 1fr)
      minmax(168px, 1.67fr)
      minmax(148px, 1.67fr)
      minmax(134px, 1.67fr)
      minmax(205px, 3.33fr)
      minmax(205px, 1.67fr)
      minmax(205px, 3.33fr);
  }
  .subjects-table {
    grid-template-columns:
      minmax(285px, 1fr)
      minmax(223px, 1.67fr)
      minmax(287px, 1.67fr);
  }
  .course-table {
    grid-template-columns:
      minmax(128px, 1fr)
      minmax(130px, 1.67fr)
      minmax(137px, 1.67fr)
      minmax(104px, 1.67fr)
      minmax(120px, 3.33fr)
      minmax(147px, 1.67fr)
      minmax(147px, 3.33fr);
  }
  .salary-table {
    grid-template-columns:
      minmax(149px, 1fr)
      minmax(148px, 1.67fr)
      minmax(127px, 1.67fr)
      minmax(110px, 1.67fr)
      minmax(110px, 3.33fr)
      minmax(127px, 1.67fr)
      minmax(148px, 3.33fr);
  }
  .courses-block__table {
    grid-template-columns:
      minmax(131px, 1fr)
      minmax(109px, 1.67fr)
      minmax(147px, 1.67fr)
      minmax(126px, 1.67fr)
      minmax(127px, 3.33fr)
      minmax(149px, 1.67fr)
      minmax(149px, 3.33fr);
  }
}
@media screen and(max-width: 476px) {
    .checked, .nochecked, .disabledCheck{
        background: $bgWhite;
        .tabel__cell{
            background: $bgWhite;
        }
    }
  #table-sort {
    height: 40px;
    padding: 0 0 0 16px;
    font-size: 14px;
    line-height: 150%;
    color: $dark500;
  }
  .table-select {
    display: flex;
    margin-bottom: 20px;
  }
  .table-select::after {
    top: 10px;
  }
  .schedule-table,
  .subjects-table,
  .course-table,
  .salary-table,
  .courses-block__table,
  .other__table {
    display: none;
  }
  .schedule-block,
  .subjects-block,
  .course-block {
    width: 100%;
    background: transparent;
    border: none;
  }
  .table-mobile {
    margin-bottom: 20px;
    background: $bgWhite;
    border-radius: 0.25rem;
  }
  .table-functional {
    display: none;
  }
  .schedule-table--mobile {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: minmax(140px, 1fr);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .tr__head {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .tabel__cell {
    border-bottom: none;
    width: 48%;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 0 20px 0 20px;
    margin-top: 15px;
    .table-mobile__text {
      color: $dark500;
      margin-bottom: 2px;
    }
  }
  .tabel__block {
    padding-bottom: 20px;
  }
  .th {
    font-size: 20px;
    line-height: 160%;
    width: 100%;
    padding: 17px 0 17px 0;
    justify-content: space-between;
  }
  .thead,
  .tbody,
  .tr {
    display: flex;
    flex-wrap: wrap;
  }
  .table-functional__add {
    position: fixed;
    bottom: 86px;
    right: 30px;
    width: 48px;
    height: 48px;
    color: $bgWhite;
    border-radius: 50%;
    background: $green;
  }
  .table-btn--mobile {
    display: block;
  }
  .tabple__mobile-subject{
    width: 100%;
  }
}
