<h2 class="salary-tableBlock__title main__block--mobile">Предметы</h2>
<div class="table subjects-table">
    <div class="thead">
        <div class="tr tabel__block">
            <div class="th">Предмет</div>
            <div class="th">Уровень</div>
            <div class="th">Показатель</div>
        </div>
    </div>
    <div class="tbody">
        <div class="tr">
            <div class="td tabel__cell">Физика</div>
            <div class="td tabel__cell">SS</div>
            <div class="td tabel__cell">150 крон</div>
        </div>
        <div class="tr">
            <div class="td tabel__cell">Математика</div>
            <div class="td tabel__cell">SS</div>
            <div class="td tabel__cell">150 крон</div>
        </div>
        <div class="tr">
            <div class="td tabel__cell">История</div>
            <div class="td tabel__cell">SS</div>
            <div class="td tabel__cell">150 крон</div>
        </div>
    </div>
</div>

<div class="form__box form__box--select table-select">
    <select class="form__input" id="table-sort" name="table-sort">
        <option value="">Сортировать по</option>
        <option value="dog">Дате</option>
        <option value="cat">Времени</option>
    </select>
</div>
<div class="table-mobile">
    <div class="table schedule-table--mobile">
        <div class="thead">
            <div class="tr tr__head">
                <div class="th">Физика</div>
            </div>
        </div>
        <div class="tbody">
            <div class="tr tabel__block tabple__mobile-subject">
                <div class="td tabel__cell"><span class="table-mobile__text">Уровень:</span>SS</div>
                <div class="td tabel__cell"><span class="table-mobile__text">Показатель:</span>150 крон</div>
            </div>
        </div>
    </div>
</div>
<div class="table-mobile">
    <div class="table schedule-table--mobile">
        <div class="thead">
            <div class="tr tr__head">
                <div class="th">Физика</div>
            </div>
        </div>
        <div class="tbody">
            <div class="tr tabel__block tabple__mobile-subject">
                <div class="td tabel__cell"><span class="table-mobile__text">Уровень:</span>SS</div>
                <div class="td tabel__cell"><span class="table-mobile__text">Показатель:</span>150 крон</div>
            </div>
        </div>
    </div>
</div>
<div class="table-mobile">
    <div class="table schedule-table--mobile">
        <div class="thead">
            <div class="tr tr__head">
                <div class="th">Физика</div>
            </div>
        </div>
        <div class="tbody">
            <div class="tr tabel__block tabple__mobile-subject">
                <div class="td tabel__cell"><span class="table-mobile__text">Уровень:</span>SS</div>
                <div class="td tabel__cell"><span class="table-mobile__text">Показатель:</span>150 крон</div>
            </div>
        </div>
    </div>
</div>