<table class="subjects-table">
    <thead>
        <tr class="tabel__block">
            <th>Предмет</th>
            <th>Уровень</th>
            <th>Показатель</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tabel__cell">Физика</td>
            <td class="tabel__cell">SS</td>
            <td class="tabel__cell">150 крон</td>
        </tr>
        <tr>
            <td class="tabel__cell">Математика</td>
            <td class="tabel__cell">SS</td>
            <td class="tabel__cell">150 крон</td>
        </tr>
        <tr>
            <td class="tabel__cell">История</td>
            <td class="tabel__cell">SS</td>
            <td class="tabel__cell">150 крон</td>
        </tr>
    </tbody>
</table>

<div class="form__box form__box--select table-select">
    <select class="form__input" id="table-sort" name="table-sort">
        <option value="">Сортировать по</option>
        <option value="dog">Дате</option>
        <option value="cat">Времени</option>
    </select>
</div>
<div class="table-mobile">
    <table class="schedule-table--mobile">
        <thead>
            <tr class="tr__head">
                <th>Физика</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tabel__block">
                <td class="tabel__cell"><span class="table-mobile__text">Уровень:</span>SS</td>
                <td class="tabel__cell"><span class="table-mobile__text">Показатель:</span>150 крон</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-mobile">
    <table class="schedule-table--mobile">
        <thead>
            <tr class="tr__head">
                <th>Физика</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tabel__block">
                <td class="tabel__cell"><span class="table-mobile__text">Уровень:</span>SS</td>
                <td class="tabel__cell"><span class="table-mobile__text">Показатель:</span>150 крон</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="table-mobile">
    <table class="schedule-table--mobile">
        <thead>
            <tr class="tr__head">
                <th>Физика</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tabel__block">
                <td class="tabel__cell"><span class="table-mobile__text">Уровень:</span>SS</td>
                <td class="tabel__cell"><span class="table-mobile__text">Показатель:</span>150 крон</td>
            </tr>
        </tbody>
    </table>
</div>