@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);
@charset "UTF-8";
.form__input {
  font-family: "Lato", sans-serif;
  color: #6A7175;
  font-size: 16px;
  line-height: 150%;
}
.btn-dropdown, .aside__date, .aside__time {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
.btn__disabled--L, .btn__load--L, .btn__save--L:hover, .btn__save--L {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #454D53;
  font-size: 16px;
  cursor: default;
}
section {
  position: relative;
}
h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  color: #454D53;
  font-weight: 700;
}
h1 {
  font-size: 32px;
  line-height: 131%;
}
h2 {
  font-size: 24px;
  line-height: 125%;
}
h3 {
  font-size: 20px;
  line-height: 160%;
}
h4 {
  font-size: 18px;
  line-height: 150%;
}
h5 {
  font-size: 14px;
  line-height: 143%;
}
a {
  display: inline-block;
  text-decoration: none;
}
svg {
  min-height: 1rem;
}
img {
  width: 100%;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  font-size: 1rem;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
textarea,
button,
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  outline: none;
}
textarea[disabled],
button[disabled],
input[disabled] {
  cursor: default;
  opacity: 0.7;
}
button {
  cursor: pointer;
}
thead,
tbody,
tr {
  display: contents;
}
th,
td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0 17px 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  height: 56px;
  border-bottom: 1px solid #D6E2F5;
}
th {
  position: sticky;
  background: #fff;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #454D53;
  cursor: pointer;
}
td {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #454D53;
}
.wrapper {
  margin: 30px 0 67px 36px;
  max-width: 920px;
  position: relative;
  height: 100%;
}
@media (max-width: 1201px) {
  .wrapper {
    width: 869px;
  }
}
.container {
  width: 100%;
  padding: 30px 30px 50px 30px;
}
.btn__save--L {
  background: #608BCC;
  color: #fff;
  padding: 16px 32px;
}
.btn__save--L:hover {
  background: #3867AE;
  color: #fff;
}
.btn__load--L {
  position: relative;
  background: #C7CACB;
  color: #fff;
  padding: 16px 32px 16px 10px;
}
.btn__load--L::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjMyNjg5IDAuMzc4NDIzTDYuMzgxOTUgMEw3LjEzOTA1IDIuMTA5MzlMNi4wODQgMi40ODc4MUMzLjc5ODUgMy4zMDc1NyAyLjI0MTgyIDUuNDgzMDYgMi4yNDE4MiA3Ljk1NDI1QzIuMjQxODIgMTEuMTYwNCA0LjgzODA2IDEzLjc1ODkgOC4wMzk5OSAxMy43NTg5QzEwLjUyMjcgMTMuNzU4OSAxMi43MDYxIDEyLjE4MjIgMTMuNTEzOCA5Ljg3NDIxTDEzLjg4MzkgOC44MTY1M0wxNiA5LjU1NjUzTDE1LjYyOTkgMTAuNjE0MkMxNC41MTAxIDEzLjgxNDIgMTEuNDgzMiAxNiA4LjAzOTk5IDE2QzMuNTk5MzIgMTYgMCAxMi4zOTc1IDAgNy45NTQyNUMwIDQuNTMwMTEgMi4xNTcyNiAxLjUxNTI5IDUuMzI2ODkgMC4zNzg0MjNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  margin-left: 10px;
}
.btn__disabled--L {
  position: relative;
  background: #C7CACB;
  color: #fff;
  padding: 16px 32px;
}
.btn__add--M {
  position: relative;
  background: #fff;
  color: #30D937;
  padding: 9px;
  font-size: 14px;
  line-height: 150%;
  border-radius: 6px;
  width: 115px;
}
.btn__add--M:hover {
  background: #30D937;
  color: #fff;
}
.btn__add--M:focus {
  background: #2ABD30;
  color: #fff;
}
.fixed-scroll {
  overflow-y: hidden;
}
.notify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  background: #EFF4FB;
  border: 1px solid #D6E2F5;
  cursor: pointer;
}
.notify:hover {
  background: #D6E2F5;
}
.edit__circle {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background: #608BCC;
  cursor: pointer;
}
.edit__circle:hover {
  background: #3867AE;
}
.drop-status {
  background: #EDF8ED;
  color: #30D937;
  width: 112px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 8px 8px 16px;
  border: 1px solid transparent;
}
.drop-status__text {
  margin-right: 8px;
}
.drop-status:hover {
  border: 1px solid #30D937;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
}
.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  margin-bottom: 28px;
  position: relative;
}
.form__box label {
  position: absolute;
  z-index: 2;
  top: -6px;
  left: 12px;
  background: #fff;
  padding: 0px 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.15px;
  color: #6A7175;
}
.form__box:hover .form__label, .form__box:focus .form__label {
  color: #608BCC !important;
}
.form__box--small {
  width: 23%;
}
.form__box--select::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 18px;
  top: 16px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2LjcwNzEgMTAuNzA3MUMxNy4wOTc2IDEwLjMxNjYgMTcuMDk3NiA5LjY4MzQyIDE2LjcwNzEgOS4yOTI4OUMxNi4zMTY2IDguOTAyMzcgMTUuNjgzNCA4LjkwMjM3IDE1LjI5MjkgOS4yOTI4OUwxNi43MDcxIDEwLjcwNzFaTTEyIDE0TDExLjI5MjkgMTQuNzA3MUMxMS42ODM0IDE1LjA5NzYgMTIuMzE2NiAxNS4wOTc2IDEyLjcwNzEgMTQuNzA3MUwxMiAxNFpNOC43MDcxMSA5LjI5Mjg5QzguMzE2NTggOC45MDIzNyA3LjY4MzQyIDguOTAyMzcgNy4yOTI4OSA5LjI5Mjg5QzYuOTAyMzcgOS42ODM0MiA2LjkwMjM3IDEwLjMxNjYgNy4yOTI4OSAxMC43MDcxTDguNzA3MTEgOS4yOTI4OVpNMTUuMjkyOSA5LjI5Mjg5TDExLjI5MjkgMTMuMjkyOUwxMi43MDcxIDE0LjcwNzFMMTYuNzA3MSAxMC43MDcxTDE1LjI5MjkgOS4yOTI4OVpNMTIuNzA3MSAxMy4yOTI5TDguNzA3MTEgOS4yOTI4OUw3LjI5Mjg5IDEwLjcwNzFMMTEuMjkyOSAxNC43MDcxTDEyLjcwNzEgMTMuMjkyOVoiIGZpbGw9IiM2QTcxNzUiLz4KPC9zdmc+Cg==) 0 0 no-repeat;
}
.form__input {
  width: 100%;
  height: 56px;
  padding: 15px;
  background: #fff;
  border: 1px solid #D6E2F5;
  border-radius: 8px;
  outline: none;
}
.form__input:hover, .form__input:focus {
  border: 1px solid #608BCC;
}
.form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.password {
  position: relative;
}
.password-control {
  position: absolute;
  top: 16px;
  right: 18px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgNEwyMCAyMCIgc3Ryb2tlPSIjOEY5NDk4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTYuNSAxNi43NTZDMTUuMTQ3NCAxNy40ODQ2IDEzLjYxODYgMTggMTIgMThDNi40NzcxNSAxOCAyIDEyIDIgMTJDMiAxMiA0LjA4ODQyIDkuMjAxMjMgNy4xNzIwNSA3LjQyNjdNMTkuNSAxNC42MzM3QzIxLjA1NTkgMTMuMjY1MiAyMiAxMiAyMiAxMkMyMiAxMiAxNy41MjI4IDYgMTIgNkMxMS42NjI1IDYgMTEuMzI4OSA2LjAyMjQxIDExIDYuMDY0NDgiIHN0cm9rZT0iIzhGOTQ5OCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTEzLjMyMjkgMTMuNTAwMkMxMi45NzAzIDEzLjgxMTQgMTIuNTA3MiAxNC4wMDAyIDEyIDE0LjAwMDJDMTAuODk1NCAxNC4wMDAyIDEwIDEzLjEwNDggMTAgMTIuMDAwMkMxMCAxMS40NjA3IDEwLjIxMzYgMTAuOTcxMSAxMC41NjA5IDEwLjYxMTMiIHN0cm9rZT0iIzhGOTQ5OCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==) 0 0 no-repeat;
}
.password-control.view {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgNEwyMCAyMCIgc3Ryb2tlPSIjOEY5NDk4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTYuNSAxNi43NTZDMTUuMTQ3NCAxNy40ODQ2IDEzLjYxODYgMTggMTIgMThDNi40NzcxNSAxOCAyIDEyIDIgMTJDMiAxMiA0LjA4ODQyIDkuMjAxMjMgNy4xNzIwNSA3LjQyNjdNMTkuNSAxNC42MzM3QzIxLjA1NTkgMTMuMjY1MiAyMiAxMiAyMiAxMkMyMiAxMiAxNy41MjI4IDYgMTIgNkMxMS42NjI1IDYgMTEuMzI4OSA2LjAyMjQxIDExIDYuMDY0NDgiIHN0cm9rZT0iIzhGOTQ5OCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTEzLjMyMjkgMTMuNTAwMkMxMi45NzAzIDEzLjgxMTQgMTIuNTA3MiAxNC4wMDAyIDEyIDE0LjAwMDJDMTAuODk1NCAxNC4wMDAyIDEwIDEzLjEwNDggMTAgMTIuMDAwMkMxMCAxMS40NjA3IDEwLjIxMzYgMTAuOTcxMSAxMC41NjA5IDEwLjYxMTMiIHN0cm9rZT0iIzhGOTQ5OCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==) 0 0 no-repeat;
}
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}
#root {
  min-height: 100%;
  height: auto !important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #EFF4FB;
}
.aside {
  min-width: 256px;
  min-height: 100vh;
  position: relative;
  padding: 20px 21px 20px 24px;
  z-index: 10;
  background: #608BCC;
}
.aside__logo {
  position: fixed;
  width: 207px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D6E2F5;
  cursor: pointer;
}
.aside__nav {
  position: fixed;
  top: 93px;
}
.aside__dt {
  width: 205px;
  position: fixed;
  bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #D6E2F5;
}
.aside__date, .aside__time {
  color: #fff;
}
.aside--active {
  display: block !important;
  position: fixed;
  width: 100%;
  height: 100vh;
}
.logo {
  width: 178px;
  height: 40px;
  cursor: pointer;
}
.menu {
  list-style: none;
  margin-top: 10px;
}
.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 12px 0 12px 0px;
}
.menu__link {
  color: #D6E2F5;
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
}
.menu__link--active {
  color: #fff;
}
.menu__list--dropdown::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjcwNzEgMTEuNzA3MUMxNi4wOTc2IDExLjMxNjYgMTYuMDk3NiAxMC42ODM0IDE1LjcwNzEgMTAuMjkyOUMxNS4zMTY2IDkuOTAyMzcgMTQuNjgzNCA5LjkwMjM3IDE0LjI5MjkgMTAuMjkyOUwxNS43MDcxIDExLjcwNzFaTTEyIDE0TDExLjI5MjkgMTQuNzA3MUMxMS40ODA0IDE0Ljg5NDYgMTEuNzM0OCAxNSAxMiAxNUMxMi4yNjUyIDE1IDEyLjUxOTYgMTQuODk0NiAxMi43MDcxIDE0LjcwNzFMMTIgMTRaTTkuNzA3MTEgMTAuMjkyOUM5LjMxNjU4IDkuOTAyMzcgOC42ODM0MiA5LjkwMjM3IDguMjkyODkgMTAuMjkyOUM3LjkwMjM3IDEwLjY4MzQgNy45MDIzNyAxMS4zMTY2IDguMjkyODkgMTEuNzA3MUw5LjcwNzExIDEwLjI5MjlaTTE0LjI5MjkgMTAuMjkyOUwxMS4yOTI5IDEzLjI5MjlMMTIuNzA3MSAxNC43MDcxTDE1LjcwNzEgMTEuNzA3MUwxNC4yOTI5IDEwLjI5MjlaTTEyLjcwNzEgMTMuMjkyOUw5LjcwNzExIDEwLjI5MjlMOC4yOTI4OSAxMS43MDcxTDExLjI5MjkgMTQuNzA3MUwxMi43MDcxIDEzLjI5MjlaIiBmaWxsPSIjRDZFMkY1Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  right: -48px;
  cursor: pointer;
}
.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 82px;
  padding-right: 42px;
  top: 0px;
  right: 0px;
  left: 256px;
  z-index: 515;
  background: #fff;
  border: 1px solid #D6E2F5;
}
.header__language {
  margin: 0 27px 0 19px;
}
.header__logo {
  display: none;
  cursor: pointer;
}
.header__burger {
  display: block;
  position: relative;
  width: 24px;
  height: 19px;
}
.header__burger span {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  background-color: #608BCC;
  left: 15px;
  width: 18px;
  height: 2px;
  top: 24px;
}
.header__burger::before, .header__burger::after {
  content: "";
  background-color: #608BCC;
  position: absolute;
  width: 18px;
  height: 2px;
  left: 15px;
  top: 29px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__burger::before {
  top: 18px;
  height: 2.5px;
}
.header__burger::after {
  bottom: 0;
  height: 3px;
}
.header .burger-active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.header .burger-active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 21px;
}
.header .burger-active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 22px;
  height: 2px;
}
.language {
  cursor: pointer;
}
.btn-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95px;
  height: 48px;
  position: relative;
  padding: 13px 13px 13px 16px;
  border: 1px solid #D6E2F5;
  border-radius: 8px;
  color: #6A7175;
}
.btn-dropdown svg path {
  fill: #454D53;
}
.dropdown {
  display: none;
  position: absolute;
  width: 95px;
  top: 50px;
  right: 113.5px;
  border: 1px;
  background-color: #fff;
  border-right: 1px solid #D6E2F5;
  border-bottom: 1px solid #D6E2F5;
  border-left: 1px solid #D6E2F5;
  border-radius: 0 0 8px 8px;
}
.dropdown__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 10px 16px;
}
.dropdown__link {
  color: #6A7175;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
.dropdown-active {
  display: block;
}
.profile {
  width: 44.57px;
  height: 44.57px;
  background: #D6E2F5;
  border-radius: 50%;
  padding: 1.71px;
}
.profile:hover {
  background: #608BCC;
}
.profile img {
  width: 100%;
  height: 100%;
}
.burger {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #EFF4FB;
  cursor: pointer;
  display: none;
}
.content {
  margin-top: 82px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  overflow: hidden;
}
.main__tabs {
  margin: 20px 0 30px 0;
}
.main__block {
  background: #fff;
  border: 1px solid #D6E2F5;
  border-radius: 16px;
}
.tabs {
  width: 645px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #fff;
  border: 1px solid #D6E2F5;
  border-radius: 8px;
}
.tabs__item {
  width: 113px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #608BCC;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}
.tabs__item:hover {
  background: #D6E2F5;
  color: #608BCC;
}
.tabs__item--active {
  color: #fff;
  background: #608BCC;
}
.tabs__content {
  display: none;
  /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block;
  /* по умолчанию показываем нужный блок */
}
@media (max-width: 1201px) {
  .wrapper {
    width: 92.405%;
  }

  .tabs {
    width: 100%;
  }
  .tabs__item {
    width: 163px;
  }
}
@media screen and (max-width: 913px) {
  .wrapper {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 67px;
  }

  .aside {
    display: none;
  }

  .header {
    left: 0;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #608BCC;
    padding: 0 20px;
    border: none;
  }
  .header__notify, .header__language, .header__profile {
    display: none;
  }
  .header__logo {
    display: block;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tabs {
    width: 100%;
  }
  .tabs__item {
    width: 142px;
  }

  .form__box {
    margin-bottom: 25px;
  }

  .form__box--small {
    width: 48%;
  }
}
@media screen and (max-width: 476px) {
  .wrapper {
    width: 327px;
  }

  .container {
    padding: 20px 20px 50px 20px;
  }

  .aside__logo {
    display: none;
    width: 100%;
  }
  .aside__nav {
    top: 85px;
    border-top: 1px solid #D6E2F5;
  }
  .aside .aside__nav, .aside .aside__logo, .aside .aside__dt {
    width: 85% !important;
  }

  .person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .person__img {
    margin-bottom: 16px;
  }
  .person__edit {
    bottom: 118px;
  }

  .form__box {
    width: 100%;
  }

  .tabs {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: none;
    border: none;
    border-bottom: 1px solid #D6E2F5;
    border-radius: 0;
  }
  .tabs__item {
    width: 158px;
    margin-bottom: 16px;
  }
  .tabs__item:last-child {
    width: 100%;
  }

  .person-textbox {
    padding-left: 0;
  }

  .btn__save--L {
    width: 287px;
  }
  .btn__save--L:hover {
    width: 287px;
  }

  h1 {
    font-size: 28px;
    line-height: 129%;
  }

  .menu__list:not(:last-child) {
    border-bottom: 1px solid #D6E2F5;
  }

  .salary-information__title {
    width: 156px;
  }
  .salary-information__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .salary-information__item {
    width: 100%;
    margin: 0 auto;
  }
  .salary-information__item:not(:last-child) {
    margin-bottom: 22px;
  }
}
.schedule-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(168px, 1fr) minmax(282px, 1.67fr) minmax(177px, 1.67fr) minmax(177px, 1.67fr) minmax(282px, 3.33fr) minmax(282px, 1.67fr) minmax(282px, 3.33fr);
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 16px;
}
.schedule-table--mobile {
  display: none;
}
.subjects-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(376px, 1fr) minmax(376px, 1.67fr) minmax(356px, 1.67fr);
  overflow: hidden;
  border-radius: 16px;
}
.course-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(168px, 1fr) minmax(188px, 1.67fr) minmax(188px, 1.67fr) minmax(189px, 1.67fr) minmax(187px, 3.33fr) minmax(188px, 1.67fr) minmax(188px, 3.33fr);
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 16px;
}
.course-table__id {
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #38AAFF;
}
.course-table__lesson {
  font-size: 12px;
  line-height: 14px;
  color: #30D937;
  padding: 5px 10px;
  background-color: #EDF8ED;
  border-radius: 15px;
}
.salary-table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(149px, 1fr) minmax(190px, 1.67fr) minmax(149px, 1.67fr) minmax(148px, 1.67fr) minmax(148px, 3.33fr) minmax(127px, 1.67fr) minmax(148px, 3.33fr);
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 16px;
}
.courses-block__table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: minmax(140px, 1fr) minmax(127px, 1.67fr) minmax(188px, 1.67fr) minmax(189px, 1.67fr) minmax(140px, 3.33fr) minmax(188px, 1.67fr) minmax(188px, 3.33fr);
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 16px;
}
.courses-block__table__id {
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #38AAFF;
}
.courses-block__table__lesson {
  font-size: 12px;
  line-height: 14px;
  color: #30D937;
  padding: 5px 10px;
  background-color: #EDF8ED;
  border-radius: 15px;
}
.table-select {
  display: none;
}
.table-functional {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 19px;
}
.table-functional__add {
  font-size: 14px;
  line-height: 150%;
  color: #30D937;
}
.table-functional--noBtn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.row-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
}
.row-counter__box {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.row-counter__text {
  font-size: 14px;
  line-height: 150%;
  margin-right: 10px;
}
.row-counter__select {
  position: relative;
  border: none;
  background: transparent;
  font-size: 14px;
  line-height: 143%;
  width: 12px;
  outline: none;
}
.row-counter__pages {
  margin-left: 35px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 150%;
}
.row-counter__arrows {
  cursor: pointer;
}
.table-btn--mobile {
  display: none;
}
.table__header-arrow {
  width: 24px;
  height: 24px;
}
.table__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}
@media screen and (max-width: 1201px) {
  .schedule-block, .subjects-block, .course-block {
    width: 100%;
  }

  .schedule-table {
    grid-template-columns: minmax(201px, 1fr) minmax(168px, 1.67fr) minmax(148px, 1.67fr) minmax(148px, 1.67fr) minmax(202px, 3.33fr) minmax(202px, 1.67fr) minmax(202px, 3.33fr);
  }

  .subjects-table {
    grid-template-columns: minmax(276px, 1fr) minmax(297px, 1.67fr) minmax(295px, 1.67fr);
  }

  .course-table {
    grid-template-columns: minmax(128px, 1fr) minmax(146px, 1.67fr) minmax(146px, 1.67fr) minmax(146px, 1.67fr) minmax(146px, 3.33fr) minmax(166px, 1.67fr) minmax(148px, 3.33fr);
  }

  .salary-table {
    grid-template-columns: minmax(149px, 1fr) minmax(149px, 1.67fr) minmax(149px, 1.67fr) minmax(148px, 1.67fr) minmax(148px, 3.33fr) minmax(127px, 1.67fr) minmax(148px, 3.33fr);
  }
}
@media screen and (max-width: 834px) {
  .schedule-table {
    grid-template-columns: minmax(140px, 1fr) minmax(168px, 1.67fr) minmax(148px, 1.67fr) minmax(134px, 1.67fr) minmax(205px, 3.33fr) minmax(205px, 1.67fr) minmax(205px, 3.33fr);
  }

  .subjects-table {
    grid-template-columns: minmax(285px, 1fr) minmax(223px, 1.67fr) minmax(287px, 1.67fr);
  }

  .course-table {
    grid-template-columns: minmax(128px, 1fr) minmax(130px, 1.67fr) minmax(137px, 1.67fr) minmax(104px, 1.67fr) minmax(120px, 3.33fr) minmax(147px, 1.67fr) minmax(147px, 3.33fr);
  }

  .salary-table {
    grid-template-columns: minmax(149px, 1fr) minmax(148px, 1.67fr) minmax(127px, 1.67fr) minmax(110px, 1.67fr) minmax(110px, 3.33fr) minmax(127px, 1.67fr) minmax(148px, 3.33fr);
  }
}
@media screen and (max-width: 476px) {
  #table-sort {
    height: 40px;
    padding: 0 0 0 16px;
    font-size: 14px;
    line-height: 150%;
    color: #8F9498;
  }

  .table-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
  }

  .table-select::after {
    top: 10px;
  }

  .schedule-table, .subjects-table, .course-table, .salary-table {
    display: none;
  }

  .schedule-block, .subjects-block, .course-block {
    width: 100%;
    background: transparent;
    border: none;
  }

  .table-mobile {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 16px;
  }

  .table-functional {
    display: none;
  }

  .schedule-table--mobile {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: minmax(140px, 1fr);
  }
  .schedule-table--mobile:not(:last-child) {
    margin-bottom: 20px;
  }

  .tr__head {
    width: calc(100% - 40px);
    margin: 0 auto;
  }

  .tabel__cell {
    border-bottom: none;
    width: 48%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    padding: 0 20px 0 20px;
    margin-top: 15px;
  }
  .tabel__cell .table-mobile__text {
    color: #8F9498;
    margin-bottom: 2px;
  }

  .tabel__block {
    padding-bottom: 20px;
  }

  th {
    font-size: 20px;
    line-height: 160%;
    width: 100%;
    padding: 17px 0 17px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  thead,
tbody,
tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .table-functional__add {
    position: fixed;
    bottom: 86px;
    right: 30px;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background: #30D937;
  }

  .table-btn--mobile {
    display: block;
  }
}
.courses-block {
  background: #fff;
  border-radius: 16px;
}
.courses-block .table-functional {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
