@import './index.scss';

.courses-block{
    background: $bgWhite;
    border-radius: 0.25rem;
    margin-top: 25px;
}


.courses-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    &__box{
        display: flex;
        align-items: center;
    }
}

.free-courses__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .lessons-edit__title{
        margin-bottom: 0;
    }
    margin-bottom: 20px;
}
.profile-content{
    display: flex;
    align-items: center;
    .header__profile{
        width: 64px;
        height: 64px;
        margin-right: 12px;
    }
}
.infoblock__text{
    display: flex;
    align-items: center;
    svg{
        margin-left: 10px;
    }
}
.info-tutor{
    justify-content: flex-start;
}
.select-time{
    list-style: none;
}
.salary-information__item{
    width: 32%;
}
.favourites{
    width: 48px;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    border: 2px solid #84B5DF;
    border-radius: 0.25rem;
    margin-right: 12px;
}

.favourites:hover{
    border: 2px solid $bgWhite;
    background: $darkBlue;
    svg{
        path{
            stroke: $bgWhite;
        }
        fill: $darkBlue;
    }
}
@media screen and(max-width: 1175px){
    .salary-information__box{
        flex-wrap: wrap;
        gap: 20px;
    }
    .salary-information__item:not(:last-child){
        margin: 0;
    }
    .salary-information__item{
        width: 48%;
        margin: 0;
    }
}
@media screen and(max-width: 910px){
    .profile-content{
        .header__profile{
            display: block;
        }
    }
    .infoblock__item--big{
        width: 90%;
    }
}
@media screen and(max-width: 840px){
    .salary-information__item{
        width: 100% !important;
        margin: 0;
    }
}
@media screen and(max-width: 475px){
    .main__title {
        margin-bottom: 6px;
    }
    .courses-header{
        flex-direction: column;
        align-items: inherit;
    }
    .courses-header__box{
        margin-top: 20px;
    }
    
    .table__search {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        height: 100%;
        margin-bottom: 20px;
    }
    .courses-block{
        margin-top: 0;
        background: transparent;
        border-radius: 0;
        border: none;
        padding-top: 0;
    }
    .table__search {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        height: 100%;
        margin-bottom: 20px;
    }
    
    
    .infoblock__item--big{
        width: 100%;
    }
}
.profile-content--lesson{
    width: 49%;
  }
@media screen and(max-width: 476px){
    .main__title-box{
        flex-direction: column;
        align-items: flex-start;
        .main__title{
            margin-bottom: 6px;
        }
    }
    .courses-block{
        background: transparent;
        margin-top: 0;
        border-radius: 0;
        
    }
    
}