@import './index.scss';

.main__title-box{
    margin-bottom: 20px;
}
.edit-block-cell__innerr{
    display: flex;
    justify-content: center;
    position: relative;
    top: 8px;
}
.salary-information__box{
    flex-wrap: wrap;
    gap: 20px;
}
.salary-information__item{
    height: fit-content;
}
.salary-information__item:not(:last-child){
    margin-right: 0;
}
.price-block{
    width: 100%;
    &__text{
        font-weight: 700;
        font-size: 2.875em;
        line-height: 59%;
        color: $dark900;
        margin-top: 16px;
    }
    &__title{
        font-size: 1.25em;
        color: $dark900;
        line-height: 130%;
        font-weight: 700;
    }
}
.up-balance{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .bye{
        width: 200px;
        &:hover, &:focus{
            width: 200px;
        }
    }
}
.btn__save--L{
    width: max-content;
    &:hover, &:focus{
        width: max-content;
    }
}

.qr-mini{
    width: 48px;
    height: 48px;
    background: $bgWhite;
    border: 1px solid $darkBlue;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    cursor: pointer;
    margin-right: 20px;
}
.down-info{
    width: 31%;
}
.table__search{
    background: $bgWhite;
    border: 1px solid transparent;
    border-radius: 0.25rem 0.25rem 0px 0px;
}
.filter__btn {
    width: 150px;
    padding: 9px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #84B5DF;
    border-radius: 0.25rem;
    background: #fff;
    cursor: pointer;
}
.filter-btn__text {
    font-size: 0.875em;
    line-height: 150%;
    color: #84B5DF;
    margin-right: 4px;
}


@media screen and(max-width: 970px){
    .down-info{
        width: 100%;
    }
}
@media screen and(max-width: 475px){
    .price-block__title{
        font-size: 1em;
    }
    .price-block__text{
        font-size: 1.875em;
    }
}